html {
    text-align: center;
    background-image: url("../images/Skyrim-trivia.jpg");
    font-family: 'Economica', sans-serif;
}
h1 {
    color: red;
    font-size: 60px
}
.container {
    width: 960px;
    height: 525px;
    background-color: gray;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7.5%;
}
.hidden {
    display: none;
}
.hidden-message-right {
    display: none;
}
.hidden-message-wrong {
    display: none;
}
.hidden-question2 {
    display: none
}
.hidden-question3 {
    display: none
}
#start-button {
    font-size: 30px;
    background-color: gray;
    border: none;
    margin-top: 17%;
}
#countdown {
    font-size: 25px;
}
.questions {
    font-size: 30px;
}
.wrong-answer {
    font-size: 30px;
    background-color: gray;
    border: none;
}
.wrong-answer:hover {
    background-color: darkgray;
}
.right-answer {
    font-size: 30px;
    background-color: gray;
    border: none;
}
.right-answer:hover {
    background-color: darkgray;
}
.wrong-answer2 {
    font-size: 30px;
    background-color: gray;
    border: none;
}
.wrong-answer2:hover {
    background-color: darkgray;
}
.right-answer2 {
    font-size: 30px;
    background-color: gray;
    border: none;
}
.right-answer2:hover {
    background-color: darkgray;
}
.wrong-answer3 {
    font-size: 30px;
    background-color: gray;
    border: none;
}
.wrong-answer3:hover {
    background-color: darkgray;
}
.right-answer3 {
    font-size: 30px;
    background-color: gray;
    border: none;
}
.right-answer3:hover {
    background-color: darkgray;
}
.answers {
    text-align: left;
    margin-left: 45.5%;
    margin-right: 45.5%;
}
.answers2 {
    margin-left: 40.5%;
    margin-right: 40.5%;
}
.answers3 {
    text-align: left;
    margin-left: 33%;
}
.snoozed {
    font-size: 50px;
    margin-top: 14%;
}
.congrats {
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 3%;
}
.fail {
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 3%;
}
.if-wrong {
    font-size: 50px;
    margin-top: -1%;
    margin-bottom: 1%;
    display: none;
}
.win-loss {
    font-size: 50px;
    
}
.losses {
    margin-top: 3%;
}